
/* Global Section */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Helvetica, Arial, sans-serif;
}



/* Header Section */

#profile_pic img {
    height: 350px;
    border-radius: 50%;
    margin: 25px;
    border: 5px solid gainsboro;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.rob {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rob nav {
    
}

.rob h1 a {
    color: white;
    text-decoration: none;
    font-size: 3.5em;
}

header {
    display: flex;
    background-image: url("../images/banner.png");
    background-position: center;
    justify-content: flex-start;
    align-items: center;
}


header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background-color: rgb(135, 226, 253);
    border-radius: 25px;
    padding: 5px;
    font-weight: bold;
}

nav ul li a {
    color: rgb(173, 52, 189);
    text-decoration: none;
    font-size: 1.5em;
}


.section-title {
    font-size: 3.5em;
    padding: 15px 485px;
    border-bottom: 3px solid black;
    margin: 50px auto;
    
}

#about, #projects, #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}